<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.oms.mapper.OrderMapper">

    <update id="updateStatus">
        update oms_order set `status`=#{targetStatus} where order_sn=#{orderToken} and `status`=#{expectStatus}
    </update>
</mapper>
