<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<title>谷粒商城，欢迎登录</title>
	<link rel="icon" href="http://static.gmall.com/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="http://static.gmall.com/css/all.css" />
    <link rel="stylesheet" type="text/css" href="http://static.gmall.com/css/pages-login.css" />
	<script type="text/javascript" src="http://static.gmall.com/js/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="http://static.gmall.com/js/plugins/jquery.cookie.js"></script>
	<script src="http://static.gmall.com/js/plugins/vue.js"></script>
	<script src="http://static.gmall.com/js/plugins/axios.js"></script>
	<script src="http://static.gmall.com/js/auth.js"></script>
	<script src="http://static.gmall.com/js/request.js"></script>
</head>

<body>
	<!-- 头部栏位 -->
	<!--页面顶部-->
	<div th:include="/common/header :: header"></div>

	<div class="login-box">

		<!--loginArea-->
		<div class="loginArea">
			<div class="py-container login">
				<div class="loginform">
					<ul class="sui-nav nav-tabs tab-wraped">
						<li id="tabOtherLogin" onclick="switchOtherLogin()">
							<a href="javascript:void(0)" data-toggle="tab" >
								<h3>扫描登录</h3>
							</a>
						</li>
						<li id="tabSuiForm" class="active" onclick="switchSuiForm()">
							<a href="javascript:void(0)" data-toggle="tab" >
								<h3>账户登录</h3>
							</a>
						</li>
					</ul>
					<div class="tab-content tab-wraped">
						<div id="index" class="tab-pane ">
							<p>二维码登录，暂为官网二维码</p>
							<img src="http://static.gmall.com/img/wx_cz.jpg" />
						</div>
						<div id="profile" class="tab-pane active">
							<form class="sui-form" th:action="@{/login}" method="post">
								<input type="hidden" name="returnUrl" th:value="${returnUrl}">
								<div class="input-prepend"><span class="add-on loginname"></span>
									<input id="loginName" name="loginName" type="text" placeholder="邮箱/用户名/手机号" class="span2 input-xfat">
								</div>
								<div class="input-prepend"><span class="add-on loginpwd"></span>
									<input id="password" name="password" type="password" placeholder="请输入密码" class="span2 input-xfat">
								</div>
								<div class="setting">
									<label class="checkbox inline">
										<input name="m1" type="checkbox" value="2" checked="">
										自动登录
									</label>
									<span class="forget">忘记密码？</span>
								</div>
								<div class="logined">
									<button type="submit" class="sui-btn btn-block btn-xlarge btn-danger">登&nbsp;&nbsp;录</button>
								</div>
							</form>
							<div class="otherlogin">
								<div class="types">
									<ul>
										<li><img src="http://static.gmall.com/img/qq.png" width="35px" height="35px" /></li>
										<li><img src="http://static.gmall.com/img/sina.png" /></li>
										<li><img src="http://static.gmall.com/img/ali.png" /></li>
										<li><img src="http://static.gmall.com/img/weixin.png" /></li>
									</ul>
								</div>
								<span class="register"><a href="http://register.gamll.com/register.html" target="_blank">立即注册</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--foot-->
		<div class="py-container copyright">
			<ul>
				<li>关于我们</li>
				<li>联系我们</li>
				<li>联系客服</li>
				<li>商家入驻</li>
				<li>营销中心</li>
				<li>手机谷粒</li>
				<li>销售联盟</li>
				<li>谷粒社区</li>
			</ul>
			<div class="address">地址：上海市昌大江商厦6层</div>
			<div class="beian">沪ICP备19006430号
			</div>
		</div>
	</div>

<script type="text/javascript">
	function switchSuiForm() {
		document.getElementById('index').className = "tab-pane";
		document.getElementById('profile').className = "tab-pane active";
		document.getElementById('tabSuiForm').className = "active";
		document.getElementById('tabOtherLogin').className = "";
	}
	function switchOtherLogin() {
		document.getElementById('index').className = "tab-pane active";
		document.getElementById('profile').className = "tab-pane";
		document.getElementById('tabSuiForm').className = "";
		document.getElementById('tabOtherLogin').className = "active";
	}
</script>
</body>
</html>
